<footer class="p-3 bg-white sm:p-5 dark:bg-gray-900">
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-700 sm:text-center"
            >© 2022 L'ullera de Bangkok
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href="/src/index.html" class="text-secondary hover:text-hovers">Inici</a>
            <a class="text-secondary hover:text-hovers">Membres</a>
            <a class="text-secondary hover:text-hovers">Noticies</a>
            <a href="/src/contacte.html" class="text-secondary hover:text-hovers">Contacte</a>
        </div>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a
                href="#"
                class="text-secondary hover:text-hovers dark:hover:text-white"
            >
            <i class="fa-brands fa-twitter">
            </a>
            <a
                href="#"
                class="text-secondary hover:text-hovers dark:hover:text-white"
            >
            <i class="fa-brands fa-facebook">
            </a>
            <a
                href="#"
                class="text-secondary hover:text-hovers dark:hover:text-white"
            >
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
</footer>
