<header>
    <!-- Navbar -->
    <nav class="flex items-center justify-between flex-wrap bg-primary p-3">
        <div class="flex items-center flex-no-shrink text-white mr-6">
            <a
                class="font-AbrilFatface text-xl tracking-tight text-white"
                href="/src/index.html"
                ><span class="me-3 mr-3"
                    ><i class="fa-solid fa-music fa-1x text-white"></i
                ></span>
                L'ullera de Bangkok</a
            >
        </div>
        <div class="block lg:hidden">
            <button
                class="flex items-left px-3 py-2 border rounded border-teal-light hover:text-white hover:border-white"
            >
                <svg
                    class="h-3 w-3"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full block lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a
                    href="/src/index.html"
                    class="block mt-4 lg:inline-block lg:mt-0 text-base text-white hover:text-slate-500 mr-4"
                >
                    Inici
                </a>
                <a
                    href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-base text-white hover:text-slate-500 mr-4"
                >
                    Membres
                </a>
                <a
                    href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-base text-white hover:text-slate-500 mr-4"
                >
                    Noticies
                </a>
                <a
                    href="/src/contacte.html"
                    class="block mt-4 lg:inline-block lg:mt-0 text-base text-white hover:text-slate-500"
                >
                    Contacte
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
